/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
@font-face {
  font-family: 'Gaura times';
  src: url('../fonts/gtr.woff') format('woff');
 	src: url('../fonts/gtb.woff') format('woff');
	src: url('../fonts/gtb.ttf') format('truetype');
	src: url('../fonts/gtr.ttf') format('truetype');

	font-family: 'SAMAR';
	src: url('../fonts/SAMARN__.TTF') format('truetype');
	src: url('../fonts/SAMARO__.TTF') format('truetype');
}

body {
	line-height: 1.6;
	color: #333333;
	background-color: #edeff0;
	margin: 0px auto;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
	font-family: 'Gaura times';
	font-weight: 400;
}

/* ----took of margin: 0 auto; from h2, a {}------*/
h2,
a{
	color: #FFFFFF;
	font-family: 'Gaura times';
	font-weight: normal;
	font-size: 15px;
	text-align: center;
}

a{
	text-decoration: none;
}

img {
	max-width: 100%;
}

.chapter-nav ul {
	margin: 0 auto;
}
/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.titlemain{
	color: #FFFFFF;
	font-family: 'Gaura times';
	font-weight: bold;
	font-size: 15px;
	height: auto;
	display: block;
	background-color: #333333;
	text-align: center;
	padding: 15px 25px;
}

.titlemain a{
	font-size: 20px;
}

.title-nav {
	color: #FFFFFF;
	font-family: 'Gaura times';
	font-weight: normal;
	font-size: 20px;
	height: auto;
	display: block;
	background-color: #333333;
	text-align: center;
	padding: 15px 50px;
}

.chapter-primary {
	background: #FFFFFF;
}

.chapter-content{
	padding: 20px 10px;
}

.chapter-content li{
	margin-bottom: 5px;
	padding: 5px 5px;
	font-weight: 400;
	font-size: 1em;
}

.image1, .image2 {
display:block;
padding: 5px 5px;
border-radius: 10px;
border-style: solid;
border-width: thin;
border-color: #b3b3b3;
margin: 10px 10px;
}

.main-footer {
	padding: 5px 5px;
	margin-top: 10px;
	background-color: #333333;
	color: #CCCCCC;
	height: auto;
	line-height: 3;
	font-size: 15px;
	text-align: center;
}
  /* slick styles */
	.slick-dots {
	    bottom: 20px;
	}

	.slick-dots li button:before {
	    font-size: 16px;
	}

	/*Slides*/
.slides {
	width: 100%;
	height: 500px;
	text-align: left;
	display: block;
}
.slide1 {
background-image: url("../img/pariksit.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 500px;
display:block;
text-align: center;
}

.slide2 {
background-image: url("../img/sukadev_pariksit.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 500px;
display:block;
text-align: center;
}

/*Button    display: inline; text-align: center;*/

.button_mainslides {
  border: 2px solid #D5DDE4;
  border-radius: 4px;
  color: #777B7E;
	padding: 12px 20px;
	margin-top: 5px;
	transition: .35s;
  font-weight: 400;
	margin:0 auto;
	position: absolute;
	top: 65%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	opacity: .7;
}

.button_mainslides:hover {
  border-color: #7CCEEE;
}

.button {
  border: 2px solid #D5DDE4;
  border-radius: 4px;
  padding: 12px 20px;
	margin-bottom: 15px;
  color: #777B7E;
  transition: .35s;
  font-weight: 400;
	text-align: center;
	position: relative;
}

.button:hover {
  border-color: #7CCEEE;
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		opacity: .6;
		z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.caption1 {
	width: 80%;
	position: relative;
	top:25%;
	font-size: 16px;
  color: #333333;
	text-align: center;
	display: block;
	margin:0 auto;
	opacity: .6;
}

.caption2 {
	width: 20%;
	position: relative;
	top:80%;
	font-size: 14px;
	color: #333333;
	margin:0 auto;
	opacity: .6;
}

.bg {
	background-color: #edeff0;
}

/* .half-grid {
	background-color: #ffff66;
	text-align: center;
	padding: 10px 10px;
	border: 3px solid red;
}

.half-grid p {
margin-top: 5px;
margin-bottom: 5px;
padding: 5px 10px 15px 10px;
margin-left: 5px;
margin-right: 5px;
} */

.column1, .column2{
	width: auto;
	height: auto;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 25px;
	border-radius: 8px;
	margin: 10px 10px;
}

.column1 {
  background-color: #60889f;
}

.column1, .column2 p{
	color: #ffffff;
}

.column2 {
  background-color: #2491cd;
}

 .column_container {
	 width: auto;
	 margin: 0 auto;
	 height: auto;
	 border-radius: 8px;
	 background-color: #edeff0;
 }

.medium {
height: 250px;
width: 200px;
float:center;
padding: 0px 0px;
}

.chapter-nav-bottom {

	color: #333333;
	margin-top: 10px;
	text-align: center;
}

.chapter-nav-bottom a {
	color: #333333;
	font-weight: bold;
	font-size: 1.1em;
}

/* ---- Page Elements ---- */

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header{
		background-color: #333333;

	}
	.titlemain {
		float: left;
		height: 60px;
	}

	.title-nav {
		float:right;
		height:60px;
	}

	.main-nav {
		float: right;
	}
 li {
	 display: inline;
	 margin-left: 10px;
	 margin-right: 10px;
 }

/* .half-grid {
	 float: left;
	 height: 700px;
	 background: #ffff66
	 padding: 10px 10px;
	 text-align: center;
 } */

  .column1, .column2 {
	width: auto;
	float: left;
	height: auto;
	padding-bottom: 25px;
	-webkit-align-self: center; /* Safari 7.0+ */
   align-self: center;
 }

 .wrapper {
	 padding-left: 20px;
	 padding-right: 20px;
 }

.column_container {
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex; /* Safari */
	-webkit-align-items: flex-start; /* Safari 7.0+ */
	display: flex;
	align-items: flex-start;
}

.column_container div {
	 -webkit-flex: 1; /* Safari 6.1+ */
	 flex: 1;
}

 /* .column1, .column2{
 	width: 50% auto;
 	height: auto;
 	text-align: center;
 	padding-left: 10px;
 	padding-right: 10px;
 	padding-bottom: 25px;
 	border: 2px solid #333333;
 	border-radius: 8px;
 	margin: 10px 20px;
 	align: center;
 } */


 .wrap{

	 min-height: calc(100hv-auto);

 }

	/* ---- Float clearfix ---- */
	.clearfix::after {
		display: table;
		clear: both;
		content: " ";
	}

	.image1 {
	float: left;
	max-height: 400px;
	max-width: 400px;
	}
	.image2 {
	float: right;
	max-height: 400px;
	max-width: 400px;
	}

	.chapter-primary {
	  width: 100%;
	}

	.chapter-nav-bottom-right{
	  float: right;
	}

	.chapter-nav-bottom-left{
	  float: left;
	}
	.chapter-content li{
		margin-bottom: 5px;
		padding: 3px 3px;
		font-weight: 400;
		font-size: 1em;
		display: block;
	}
	.chapter-content {
		margin-top: 10px;
	}

}

@media (min-width: 1025px) {

	.chapter-header {
		}
	.chapter-primary {
		width: 100%;
	}
	.column1, .column2 {
	width: auto;
	float: left;
	height: auto;
	padding-bottom: 25px;
 }

 .column_container {
	width: 90%;
 	margin: 0 auto;
 }

/*	.column2 {
	 width: 50%;
	 height: auto;
	 padding-bottom: 25px;
	} */


}
